<nav class="nav main">
    <div class="logo">Auth</div>
    <ul class="list">
        <li><a class="link" href="/main">Main</a></li>
        <li><a class="link" href="/private">Private</a></li>
        <li><a class="link" href="/signup">Signup</a></li>
        <li><a class="link" href="/login">Login</a></li>
        <li><a class="link" href="/logout">Logout</a></li>
    </ul>
</nav>