.DS_Store
*.odt
0_random/
0_random_group/
module-1/labs-soluce-proposals/lab-javascript-chronometer/
module-1/labs-soluce-proposals/lab-javascript-memory-game/
module-1/labs-soluce-proposals/lab-dom-ironhack-cart/