<nav id="nav_main">
    <a href="/home" class="link">home</a>
    <a href="/about" class="link">about</a>
    <a href="/products" class="link">products</a>
    <a href="/contact" class="link">contact</a>
</nav>