<nav class="nav nav-main">
    <a href="/home">home</a>
    <span>&nbsp;|&nbsp;</span>
    <a href="/about">about</a>
    <span>&nbsp;|&nbsp;</span>
    <a href="/all-products">products</a>
    <span>&nbsp;|&nbsp;</span>
    <a href="/new-product">add product</a>
</nav>