<aside id="sidebar_main">
    <nav id="nav_sidebar">
        <a class="link" href="/">usefull links</a>
        <a class="link" href="/">get help</a>
        <a class="link" href="/">hire a dev</a>
    </nav>
</aside>