<div class="page">
    <h1 class="title">Get / Route params / Query Strings</h1>
    <ol>
        <li>Create a new Express project</li>
        <li>You will need hbs as well</li>
        <li>Set 3 GET routes :
            <ol>
                <li>/</li>
                <li>/users</li>
                <li>/users/:id</li>
            </ol>
        </li>
        <li>Render a simple view for each route</li>
        <li>Set a nav as a partial with 2 links:
            <ol>
                <li>home</li>
                <li>users</li>
            </ol>
        </li>
    </ol>
</div>