<select name="lable" id="tags" class="select">
    <option value="-1"> Choose a tag </option>  <!-- disabled selected --> 
    {{#each tags}}
    <option value="{{this._id}}">{{this.lable}}</option>
    {{/each}}
</select>


