<div class="page">
    <h1 class="title">Home</h1>
    <div class="squares">
        <div class="square">
            <span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, architecto?</span></div>
        <div class="square">
            <span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, qui.</span></div>
        <div class="square">
            <span> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic, ad!</span></div>
        <div class="square">
            <span> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, voluptatibus.</span></div>
    </div>
</div>