<div class="pane">
    <h1 class="title">About</h1>
    <p>
        Abaout my super venture ... <br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br>Ipsum id blanditiis quo molestias quidem sequi dolorum doloremque maxime adipisci animi?
    </p>
</div>