<div class="pane">
    <h1 class="title">Contact</h1>
    <form action="" class="form">
        {{!-- (label.label+input.input)*3+button --}}
        <label for="firstname" class="label">Name</label>
        <input id="firstname" name="firstname" type="text" class="input">
        <label for="lastname" class="label">Lastname</label>
        <input id="lastname" name="lastname" type="text" class="input">
        <label for="email" class="label">Email</label>
        <input id="email" name="email" type="text" class="input">
        <label for="message" class="label">Message</label>
        <textarea name="message" id="message" cols="30" rows="10" class="textarea"></textarea>
        <button class="btn">ok</button>
    </form>
</div>