<div class="pane">
    <h1 class="title">Home</h1>
    <p>
        Homepage .... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, illo!
    </p>
    <hr>
    <ul id="users">
        {{#each users}}
        <li class="user">{{ this }}</li>
        {{/each}}
    </ul>

    {{!-- 
        BONUS =>
        Code a tiny client script that toggles an is-active on each user's li onclick !!!
     --}}
</div>