<dvi class="page">
    <h1 class="title">{{title}}</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor, unde?</p>
    {{> img_link_list imgLinks2 }}

    {{{ some_piece_of_html_code_i_want_to_display }}}
</dvi>
