<div class="page">
    <h1 class="title">{{title}}</h1>
    {{> img_link_list imgLinks }}
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor, unde?</p>
    {{> img_link_list imgLinks2 }}
</div>